@import "./components/radioRegions.scss";

body {
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
}
