//buttons styling
@import "./basic/radioButton.scss";
@import "./basic/nextButton.scss";

//components
@import "./components/radioGroups.scss";
@import "./components/navbar.scss";

body {
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
}

.logo {
  max-width: 75px;
}
