.radio-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.radio-input {
  margin-left: 25%;
}

.greeting {
  text-align: center;
  margin-top: 20px;
}

@media screen and (max-width: 400px) {
  .radio-input {
    margin-left: 5%;
  }
}

@media screen and (min-width: 800px) {
  .radio-section {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .radio-input {
    margin-left: 15%;
  }
}
